{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ _('User') }}: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                <p>{{ _('%(count)d followers', count=user.followers.count()) }}, {{ _('%(count)d following', count=user.followed.count()) }}</p>
                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% elif not current_user.is_following(user) %}
                <p><a href="{{ url_for('main.follow', username=user.username) }}">{{ _('Follow') }}</a></p>
                {% else %}
                <p><a href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('Unfollow') }}</a></p>
                {% endif %}
                {% if user != current_user %}
                <p><a href="{{ url_for('main.send_message', recipient=user.username) }}">{{ _('Send private message') }}</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Posts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Stats</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                {% for post in posts %}
                    {% include '_post.html' %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class = 'row'>
                        <div class="col-md-6">
                                <div class="card" style="width: auto; box-shadow: 8px 8px 6px -6px #666666;">
                                        <div class="card-body">
                                          <h3 class="card-title">Blinks</h3>
                                          <h6 class="card-subtitle mb-2 text-muted">Number of Times you have blinked.</h6>
                                          <p class="card-text">You have blinked a total of <b>{{blinks}}</b> number of times since you last visited the app.</p>
                                          <a href="https://twitter.com/intent/tweet?text=@justdvnsh%20needs%20a%20girlfriend%20!"
                          data-size="large" className="btn btn-primary" id="tweet-quote">Tweet It</a>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="card" style="width: auto; box-shadow: 8px 8px 6px -6px #666666;">
                                        <div class="card-body">
                                          <h3 class="card-title">Number of Sleeps </h3>
                                          <h6 class="card-subtitle mb-2 text-muted">Number of times you have felt drowsy.</h6>
                                          <p class="card-text">You have felt drowsy a total of <b>{{ No_of_Sleeps }}</b> times since you last visited the app.</p>
                                          <a href="https://twitter.com/intent/tweet?text=@justdvnsh%20needs%20a%20girlfriend%20!"
                          data-size="large" className="btn btn-primary" id="tweet-quote">Tweet It</a>
                                        </div>
                                </div>
                        </div>
                    </div>
            </div>
          </div>
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
